.fixed
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          %a{href: "#"} Dead Drop
    %section.top-bar-section
      %ul.right
        %li
          %a{href: "#about"} About
        %li.divider
        %li
          %a{href: "#message"} Send Message
        %li.divider
        %li
          %a{href: "#setup"} Set Up Guide
        %li.divider
        %li
          %a{href: "#"} Github
.row
  .large-12.columns      
  %header
    %h1 Dead Drop

.row
  #center-column
    .large-8.columns
    #about
      %h2 about
      %p Viral fap exercitation, sed kale chips elit Helvetica ullamco accusamus pour-over. Cliche eu mlkshk, put a bird on it wolf officia consectetur. Butcher keffiyeh bicycle rights slow-carb laboris, Tonx flannel consectetur ullamco. Gentrify keffiyeh est in cred readymade fugiat stumptown, id ennui banjo. Ennui synth accusamus freegan, seitan art party Terry Richardson odio Shoreditch laborum commodo quinoa before they sold out paleo. Enim sartorial bicycle rights, authentic dreamcatcher eu plaid laboris ea laborum vegan Tonx. Nisi anim farm-to-table cupidatat, Neutra High Life jean shorts Banksy quis Blue Bottle cillum narwhal slow-carb single-origin coffee keytar.

      %p Assumenda brunch fanny pack DIY, fixie letterpress commodo accusamus pop-up enim selfies. Nihil proident selvage, cred mixtape swag retro +1 squid butcher. Viral flannel Blue Bottle irony. Authentic vinyl cliche raw denim organic. Quinoa lomo photo booth vinyl anim, qui art party sed consectetur Austin McSweeney's drinking vinegar laborum sapiente. Adipisicing labore banjo fanny pack odio narwhal laboris McSweeney's, squid vero esse. Esse keytar PBR&B art party velit fugiat chia trust fund reprehenderit, paleo butcher put a bird on it tousled delectus viral.

      %p Keffiyeh irony McSweeney's, est labore in paleo synth Banksy raw denim plaid. Banksy veniam seitan in. Flannel Schlitz Wes Anderson hella artisan, locavore ullamco try-hard. Ethnic Tonx fashion axe hoodie, American Apparel Austin mustache non tempor Carles street art actually. Authentic anim Truffaut tempor, seitan flexitarian whatever. Enim fashion axe mumblecore, eu 3 wolf moon nulla dolore butcher PBR street art XOXO veniam literally umami. Shoreditch pop-up pariatur, excepteur you probably haven't heard of them bespoke non consectetur mollit.
.row      
  .large-8.columns.no-padding
    #message
      = render "message/form"
  .large-4.columns.no-padding
    #message-details
      %h2 a note about messages
      %br/
      %p Tattooed mlkshk polaroid fashion axe fingerstache sartorial. Umami hella tattooed pork belly direct trade cray. Odd Future paleo bicycle rights, selvage swag DIY lomo XOXO trust fund whatever Neutra. Bushwick master cleanse hella aesthetic mixtape. Williamsburg meggings four loko pop-up blog, lo-fi Bushwick shabby chic vegan Truffaut. You probably haven't heard of them Thundercats Wes Anderson vegan small batch keffiyeh lo-fi, street art leggings. Odd Future occupy vinyl paleo ethical.
.row
  #center-column
    .large-8.columns
    #setup
      %h2 how to set up Dead Drop
      %p Banjo shabby chic yr, flannel sriracha wolf master cleanse Truffaut cray squid leggings. Blog sartorial messenger bag keffiyeh skateboard viral, semiotics trust fund before they sold out quinoa cred typewriter leggings Pitchfork lomo. Schlitz Wes Anderson aesthetic quinoa YOLO fingerstache Brooklyn, PBR&B kale chips Pinterest. Bitters PBR meggings, biodiesel typewriter twee salvia Blue Bottle craft beer flexitarian YOLO blog Etsy iPhone. Quinoa squid kale chips Thundercats. Locavore kale chips Godard, gastropub jean shorts authentic drinking vinegar. Readymade artisan Austin stumptown, Shoreditch next level YOLO blog.

      %p Vinyl bicycle rights fashion axe ugh biodiesel distillery fap try-hard, ethnic cliche authentic gluten-free. Try-hard Vice narwhal Austin, chillwave viral mixtape pour-over farm-to-table authentic. Shoreditch ugh Schlitz, Austin banjo single-origin coffee swag mlkshk shabby chic +1 chia ethnic McSweeney's you probably haven't heard of them wolf. Stumptown actually ethical vegan leggings mumblecore. Bushwick organic blog tousled, chambray Shoreditch literally farm-to-table American Apparel readymade next level bitters +1 semiotics. Ennui ugh food truck master cleanse Pinterest, keytar PBR&B authentic farm-to-table messenger bag butcher artisan church-key plaid tofu. Fap meh pork belly street art cliche roof party.

      %p Selfies bicycle rights chia forage next level paleo. Biodiesel church-key hoodie, yr readymade seitan art party VHS selfies PBR&B salvia. Neutra retro four loko polaroid viral fap seitan, actually disrupt. Pickled freegan quinoa selfies sustainable, fashion axe aesthetic chia literally scenester flexitarian 90's slow-carb wayfarers. Intelligentsia Marfa slow-carb ugh tofu selfies butcher +1 distillery, literally sriracha American

      %p Seitan swag photo booth, semiotics Austin you probably haven't heard of them fanny pack kogi Wes Anderson lomo selfies. Single-origin coffee Etsy meh chia Schlitz bitters before they sold out. Occupy church-key YOLO XOXO fap, Schlitz kitsch iPhone craft beer American Apparel single-origin coffee. Tofu fap sustainable freegan. Messenger bag small batch tote bag put a bird on it Tonx swag. Ugh try-hard stumptown shabby chic, Portland skateboard hella tote bag PBR&B salvia scenester Bushwick Carles. Keffiyeh selvage asymmetrical mixtape bicycle rights Vice, viral Shoreditch whatever ethical.

      %p Stumptown vinyl Pinterest, PBR&B selfies paleo Tonx Thundercats Helvetica salvia gastropub. Wayfarers mumblecore American Apparel distillery craft beer leggings, squid street art actually. Sustainable pour-over church-key flannel mumblecore small batch authentic slow-carb Marfa. Pork belly pop-up fixie Brooklyn, Bushwick banh mi plaid flannel Godard art party you probably haven't heard of them hashtag PBR drinking vinegar. DIY pug quinoa, fap yr polaroid Truffaut. Asymmetrical squid Williamsburg banh mi. Vinyl tattooed messenger bag next level, you probably haven't heard of them mumblecore twee swag gluten-free. 
